.gioithieu {
    font-size: 15px;
    margin-left: 10px;
}

.icon {
    font-size: 15px;
    margin-top: -10px;
    color: rgba(10, 46, 124, 0.849);
}

.lech-trai {
    margin-left: 45px;
    font-size: 15px;
}

.tieude-1 {
    margin-top: 150px;
    margin-left: -20px;
}

.tieude-2 {
    margin-top: 320px;
    margin-left: -20px;
}

.icon-tieude {
    font-size: 20px;
}

.icon-bg {
    width: 40px;
    height: 40px;
    background-color: #e56e72;
    border-radius: 100px;
    position: absolute;
    margin-top: -40px;
    margin-left: 140px;
}

.icon-bg-1 {

    background-color: #7e30a5;
}

.icon-bg-2 {

    background-color: #2783cf;
}


#containecc {

    width: 500px;

    height: 500px;

}

.container1 {
    position: absolute;
    top: 10px;
}

.gioithieu-left {
    position: absolute;
    top: 25%;
    left: 100px;
}

.gioithieu-right {
    position: absolute;
    top: 25%;
    right: 100px;
}